@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  padding-left: 0 !important;
  margin-bottom: 5rem !important;
}

.slick-dots li {
  margin: 0 5px !important;
}

.slick-dots li button:before {
  font-size: 14px !important;
  color: #999 !important;
}

.slick-dots li.slick-active button:before {
  color: #ff8c00 !important;
}

.testimonial-card {
  padding: 2rem !important; 
  border-radius: 0.5rem !important; 
  color: #fff !important; 
  position: relative !important;
  overflow: hidden !important;
}
